.detailsSelect {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.itemSelect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    padding: 2rem;
    box-shadow: 5px 2px 1px #d3d3d3;
    margin: 2rem 2rem 0rem 2rem;
}

.itemSelect span {
    font-size: 12px;
}

.vehiclePresentation {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.vehiclePresentation h4 {
    margin: 0;
}

.infoPrice {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.infoMethod {
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    padding-bottom: 0.5rem;
    gap: 1rem;
}

.infoMethod span {
    width: 100px;
}

.infoMethod select {
    font-size: 12px;
}

.buyConfirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
    width: auto;
}

.buyConfirmed span{
    font-size: 25px;
    text-align: center;
}

.iconCorrect {
    width: 50px;
    height: auto;
    border: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    padding: 1.2rem;
    border-radius: 50%;
    box-shadow: 2px 1px 1px #d3d3d3;
}

.buyConfirmed:hover {
    opacity: 1;
    transition: 500ms linear;
}

.carExampleBuy {
    width: 200px;
    height: 150px;
}

.detailsItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}

.alignInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alignInfo span {
    text-align: justify;
    margin: 0rem 0.8rem 0rem 0.8rem;
}

.infoTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
    padding: 2rem;
    margin: 2rem 2rem 2rem 0rem;
    border-width: 1px;
    border-color: #d3d3d3;
    gap: 2rem;
}

.interactionItem {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


@media screen and (max-width: 992px) {
    .detailsSelect {
        max-width: 992px;
        gap: 2rem;
    }
}
@media screen and (max-width: 992px) {
    .detailsSelect {
        max-width: 992px;
        gap: 0rem;
    }
}
@media screen and (max-width: 576px) {
    .itemSelect {
        max-width: 576px;
        padding: 1rem;
    }
    .detailsSelect {
        max-width: 576px;
        flex-direction: column;
        gap: 1rem;
    }
}