.alertInfo h4 {
    margin: 0;
}

.alertInfo span {
    font-size: 12px;
    opacity: 0.5;
}

.alignInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.alignRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.inputInfo {
    display: flex;
    padding: 0.5rem;
    width: 300px;
    box-shadow: 5px 2px 1px #d3d3d3;
}

.dropdownInfo {
    display: flex;
    padding: 0.5rem;
    width: 320px;
    box-shadow: 5px 2px 1px #d3d3d3;
}

.submit {
    display: flex;
    justify-content: right;
    margin: 3rem;
}

@media screen and (max-width: 740px) {
    .inputInfo {
        max-width: 740px;
        width: 200px;
    }

    .dropdownInfo {
        max-width: 740px;
        width: 220px;
    }
}

@media screen and (max-width: 576px) {
    .alignInput {
        max-width: 576px;
        flex-direction: column;
        gap: 1rem;
    }

    .inputInfo {
        max-width: 576px;
        width: 300px;
    }

    .dropdownInfo {
        max-width: 576px;
        width: 320px;
    }
}

@media screen and (max-width: 350px) {
    .alignInput {
        max-width: 350px;
        flex-direction: column;
        gap: 1rem;
    }

    .inputInfo {
        max-width: 350px;
        width: 200px;
    }

    .dropdownInfo {
        max-width: 350px;
        width: 220px;
    }
}