.presentation {
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-width: 1px;
    border-color:  #d3d3d3;
    gap: 0.1rem;
}

.presentation p {
    display: flex;
    font-size: 12px;
    width: 300px;

}

.infoAbout {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.buyAndSell {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
}

.buy {
    display: flex;
    flex-direction: column;
}

.sell {
    display: flex;
    flex-direction: column;
}

.sell span {
    font-size: 12px;
}

.buy span {
    font-size: 12px;
}

.help {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 12px;
    width: 120px;
    gap: 0.2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
}

.iconInstagram {
    width: 30px;
    height: 30px;
    
}