.folder {
    display: flex;
    background-image: url('../images/carWallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    opacity: 0.5;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: auto;
}

.tips {
    display: flex;
    gap: 10px;
    margin: 2rem;
    word-wrap: break-word;
    font-size: .825rem;
}

.tips span {
    width: 7rem;
}

.batch {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 2rem;
    align-items: center;
}

.batch span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 2.3rem;
    width: 4rem;
    background-color: #000;
}