.listTopics {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.listTopics span {
    opacity: 0.5;
}

.listTopics span:hover {
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    opacity: 1;
    transition: 500ms linear; 
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
}

.linkSell {
    display: flex;  
    align-items: center;
    gap: 1rem;
}

.car {
    width: 15px;
    height: 15px;
}